@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/made-dillan");
@import "tailwindcss";

@theme {
  --color-customBurgundy: #ff61a3;
  --color-customLightGrayBorder: #d9d9d9;
  --color-customPink: #ff016b;
  --color-customNeonGreen: #d6ff4e;
  --color-customPurple: #7412fd;
  --color-customLightPurple: #dac0ff;
  --color-customDarkBlue: #1b1c31;
  --color-customLightDarkBlue: #7376aa;
  --color-customDarkPurple: #8833ff;

  --font-montserrat: Montserrat, "sans-serif";
  --font-dillan: MADE Dillan, "sans-serif";
}

.waitlistTopBar {
  background-image: linear-gradient(to right, var(--color-customPink), white);
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40%;
  width: 100%;
  filter: blur(20px);
}

.mythic-cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.9) 20%,
    rgba(0, 0, 255, 0.3) 70%,
    transparent 80%
  );
  border: 2px solid rgba(0, 255, 255, 0.6);
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: screen;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: transform 0.1s ease-out;
  animation: pulse-glow 2s infinite;
}

@keyframes pulse-glow {
  0% {
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.3), 0 0 15px rgba(0, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.6), 0 0 30px rgba(0, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.3), 0 0 15px rgba(0, 255, 255, 0.2);
  }
}

.clip-top {
  clip-path: polygon(0 0, 100% 0, 100% 55%, 0 45%);
}

.clip-bottom {
  clip-path: polygon(0 55%, 100% 45%, 100% 100%, 0 100%);
}
